<div id="myCarousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000">

        <div class="carousel-inner">
            <div class="carousel-item carousel-x active">
                <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img class="img-thumbnail"  src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg" alt="First slide">
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img class="img-thumbnail"  src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg" alt="Second slide">
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img class="img-thumbnail"  src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg"
                        alt="Third slide">
                </div>
              </div>
            </div>
            <div class="carousel-item carousel-x">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img class="img-thumbnail"  src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg" alt="4th slide">
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img class="img-thumbnail"  src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg" alt="5th slide">
                </div>
            
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img class="img-thumbnail"  src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg"
                        alt="6th slide">
                </div>
              </div>
            </div>
            <div class="carousel-item carousel-x">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img class="img-thumbnail"  src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg" alt="7th slide">
                </div>
           
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img class="img-thumbnail"  src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg" alt="8th slide">
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img class="img-thumbnail"  src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg"
                        alt="6th slide">
                </div>
              </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
