<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <hr>
            <a class="navbar-brand" href='/'>
                <img src="favicon.ico" style="height:30%; width:30%" />
                <span style="font-weight: bold; font-size: 30px;"> mixradio </span>
            </a>
            <hr>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search..." aria-label="Search">
                <div class="input-group-append">
                    <button class="btn search-btn-outline" type="submit">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 250.313 250.313" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M244.186,214.604l-54.379-54.378c-0.289-0.289-0.628-0.491-0.93-0.76   c10.7-16.231,16.945-35.66,16.945-56.554C205.822,46.075,159.747,0,102.911,0S0,46.075,0,102.911   c0,56.835,46.074,102.911,102.91,102.911c20.895,0,40.323-6.245,56.554-16.945c0.269,0.301,0.47,0.64,0.759,0.929l54.38,54.38   c8.169,8.168,21.413,8.168,29.583,0C252.354,236.017,252.354,222.773,244.186,214.604z M102.911,170.146   c-37.134,0-67.236-30.102-67.236-67.235c0-37.134,30.103-67.236,67.236-67.236c37.132,0,67.235,30.103,67.235,67.236   C170.146,140.044,140.043,170.146,102.911,170.146z"
                                    fill="#ff2e81" />
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <ul style="list-style: none;">
            <li>
                <a href="#" (click)="onSelect('library')" routerLink='/library'>Library</a>
            </li>
            <li>
                <a href="#" (click)="onSelect('radio')" routerLink='/radio'>Radio</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse" style="list-style: none; margin-top: 2px;" id="pageSubmenu">
                    <li>
                        <a href="">Page 1</a>
                    </li>
                    <li>
                        <a href="">Page 2</a>
                    </li>
                    <li>
                        <a href="">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" (click)="onSelect('about')" routerLink='/about'> About</a>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 24 24" enable-background="new 0 0 24 24"
                    width="20px" height="20px">
                    <g>
                        <path d="M24,3c0-0.6-0.4-1-1-1H1C0.4,2,0,2.4,0,3v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V3z" fill="#FFFFFF" />
                        <path d="M24,11c0-0.6-0.4-1-1-1H1c-0.6,0-1,0.4-1,1v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V11z" fill="#FFFFFF" />
                        <path d="M24,19c0-0.6-0.4-1-1-1H1c-0.6,0-1,0.4-1,1v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V19z" fill="#FFFFFF" />
                    </g>
                </svg>
            </button>
            <hr>
            <nav class="navbar navbar-expand-lg navbar-light bg-light top-nav">

                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="onSelect('library')" routerLink='/library'>Library</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="onSelect('radio')" routerLink='/radio'>Radio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pages
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Page 1</a>
                            <a class="dropdown-item" href="#">Page 2</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Page 3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="onSelect('about')" routerLink='/about'> About</a>
                    </li>
                </ul>

            </nav>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <router-outlet></router-outlet>
                <!--<app-main-component [tabToDisplay]="selectedTab"></app-main-component>-->
            </div>
        </div>
    </div>